@charset "utf-8";
/*css reset
将默认样式全部覆盖掉，以保证不同浏览器下的样式相同
*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{
	margin: 0;
	padding: 0;
}
table{
	border-collapse: collapse;
	border-spacing: 0;

}
ol,ul{
		list-style: none;
}
fieldset,img{border: 0;}
textarea{
	resize: none;
}
input:focus, textarea:focus{
	outline: none;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
q:before, q:after{
	content: '';
}
abbr,acronym{
	border: 0;
	font-variant: normal;
}
address,cite, dfn,optgroup,em,var{
	font-style: normal;
}
legend{
	color: #000;
}


.top{
	background: #242424;
	height: 70px;
}
.wrap{
	width: 1100px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.top a{
	color: #ccc;
}
.top a:hover{
	color: #fff;
}
.logo{
	width: 179px;
	height: 70px;
	float: left;
}
.logo a {
	display: inline-block;
	text-indent: -9999px;
	height: 100%;
	width: 159px;
	background: url("../images/topbar.png") no-repeat 0px 0px;
}
.nav{
	float: left;
}

.nav li{
	float: left;
	height: 70px;
	line-height: 70px;
	padding: 0 19px;
	font-size: 14px;
	position: relative;
}
.nav li a:hover {
	text-decoration: none;
}
.nav li.fst a{
	color: #fff;
}

li span.hot{
	width: 28px;
	height: 19px;
	top: 20px;
	left: 96px;
	position: absolute;
	display: inline-block;
	background: url(../images/topbar.png) no-repeat -192px 0px;
}

.search-btn{
	float: right;
	width: 158px;
	height: 32px;
	position: relative;
	zoom:1;
}

.search-btn .srh-relative{
	margin-top:20px;


	/*------重要！为了不使父元素和子元素合并边距，以下三者都可------------*/
	/*float: left;*/
	position: absolute;
	/*overflow: hidden;*/
	width: 158px;
	height: 32px;
	background: url(../images/topbar.png) no-repeat 0px -99px;
	background-color: #fff;
	border-radius: 32px;
	
}


.srh-relative label{
	display: block;
	font-size: 12px;
	color: #9b9b9b;
	cursor: text;
	top:8px;
	left: 0;
	width: 90%;
}
span.parent{
	display: block;
	position: relative;
	margin: 8px 0 0 30px;
}
.parent input{
	color: #333;
	line-height: 16px;
	width: 95px;
	margin: 0;
	padding: 0;
	background: transparent;
	color: #fff;
	border: 0;
}
.parent label{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 90%;
	color: #9b9b9b;
	cursor: text;
}

a.create{
	float: right;
	/*display: block;*/
	width: 90px;
	height: 32px;
	border-radius: 20px;
	color: #ccc;
	border: 1px solid #4f4f4f;
	font-size: 12px;
	line-height: 33px;
	padding:0 0 0 16px;
	margin: 18px 0 0 12px;
	box-sizing: border-box;
}
a.create:hover{
	text-decoration: none;
	color: #fff;
	border: 1px solid #ccc;
}

.user{
	float: right;
	width: 52px;
	height: 45px;
	margin: 18px 0 0 21px;
	position: relative;
	/*padding-right: 22px;*/
}
.head{
	width: 30px;
	height: 30px;
}
.head img{
	border-radius: 30px;
}

.list-user{
	position: absolute;
	width: 158px;
	background: #2b2b2b;
	font-size: 12px;
	top: 40px;
	left: -49px;
	box-shadow: 0 8px 24px 0 rgba(0,0,0,0.5);
	border-radius: 4px;
	display: none;
}
.list-user li{
	width: 100%;
	height: 34px;
	padding:0 0 0 24px;
	box-sizing: border-box;

}
.list-user li a{
	display: block;
	width: 100%;
	height: 34px;
	float: left;
	line-height: 34px;
}
.list-user span{
	display: block;
	float: left;
	width: 18px;
	height: 18px;
	background:url(../images/toplist.png) no-repeat 0 -999px;
	margin: 7px 10px 0 0;
}
span.my-page{background-position: 0 -79px;}
span.my-msg{background-position: -20px -119px;}
span.my-level{background-position: 0 -97px;}
span.my-vip{background-position: 0 -218px;}
span.my-setting{background-position: 0 -138px;}
span.my-real{background-position: -20px -140px;}
span.my-quit{background-position: 0 -199px;}
.list-user li:hover{
	text-decoration: none;
	background: #353535;
	color: #fff;
}
.list-user li a:hover{
	text-decoration: none;
}
.subnav{
	height: 35px;
	background: #c20c0c;
	border-bottom: 1px solid #a40011;
}
.subnav .subnav-con{
	width: 1100px;
	height: 34px;
	margin: 0 auto;
	
}
.subnav ul{
	float: left;
	padding: 0 0 0 180px;
}
.subnav ul li, .subnav ul li a{
	float: left;
	/*width: 84px;*/
	height: 34px;
	text-align: center;
	line-height: 34px;
}
.subnav a{
	color:#fff;
	font-size: 12px;
}
.subnav a em{
	display: inline-block;
	height: 20px;
	padding:0 13px;
	margin: 7px 17px 0; 
	border-radius: 20px;
	line-height: 21px;
}
.subnav a em.first{
	background: #9b0909;
}
.subnav a em:hover{
	background: #9b0909;
	text-decoration: none;
}
.rela{
	position: relative;
}
.subnav .song-list span{
	position: absolute;
	display: inline-block;
	width: 8px;
	height: 8px;
	background: url(../images/white-r-icon@3x.png) no-repeat 0 0;
	background-size: cover;
}
.subnav .tri{
	display: inline-block;
	position: absolute;
	width: 12px;
	height: 7px;
	background: url(../images/topbar.png) -226px 0;
	left: 38px;
	top: -6px;
}
.caro {
	background: url(../images/banner-blur-1.jpg);
	background-size: cover;
}
.caro .banner{
	width: 982px;
	height: 285px;
	overflow: hidden;
}

.caro .ban img{
	width: 730px;
	
}
.caro .wrap{
	width: 982px;
	height: 285px;
	margin: 0 auto;
}
.caro .banner .ban{
	/*width: 730px;*/
	height: 285px;
}
.caro .download{
	height: 285px;
	width: 254px;
	position: absolute;
	top: 0;
	right: 0;
	background: url(../images/download.png) no-repeat 0 0;
}

.caro a.arrow{
	display: block;
	width: 37px;
	height:63px;
	background: url(../images/banner.png);
	position: absolute;
}
.caro a.lt-arrow{
	background-position: 0 -360px;
	top: 110px;
	left: -70px;
}
.caro a.lt-arrow:hover{
	background-position: 0 -430px;
}
.caro a.rt-arrow{
	background-position: 0 -509px;
	top: 110px;
	right: -70px;
}
.caro a.rt-arrow:hover{
	background-position: 0 -579px;
}
.caro .dots{
	position: absolute;
	width: 730px;
	bottom: 4px;
	left: 0;
	text-align: center;


}
.caro .dots a{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../images/banner.png) no-repeat 0 -342px;
}
.caro .dots a.first{
	background-position: -18px -342px;
}

.caro .dots a:hover{
	background-position: -18px -342px;
}

.content{
	background: url(../images/wrap1.png) repeat-y 100% 100%;
	width: 980px;
	border: 1px solid #d3d3d3;
	border-width: 0 1px;
	margin: 0 auto;
}
.content:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}
.lt{
	width: 100%;
	float: left;
}
.ltbox{
	margin: 0 251px 0 0;
}
.ltcontain{
	padding: 20px 20px 40px;
}

.conhead{
	height: 33px;
	background: url(../images/index.png) no-repeat -225px -156px;
	padding: 0 10px 0 34px;
	border-bottom: 2px solid #c10d0c;
}
.conhead a{
	color: #000;

}
.conhead>a{
	float: left;
	font-size: 20px;
	line-height: 28px;

}
.conhead>a:hover{
	text-decoration: none;
}
.conhead .tab {
	float: left;
	font-size: 12px;
	margin: 7px 0 0 20px;
}
.conhead .line{
	color: #ccc;
	margin: 0 10px;
}
.conhead .more {
	float: right;
	font-size: 12px;
	margin: 9px 0 0 0;
}
.conhead .more span {
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url(../images/index.png) no-repeat 0 -240px;
}